<div class="home">

<div class="splash">

</div>

  <div class="month-bar">
    <ul class="grid">
      <li class="month"><a href="#">June</a></li>
      <li class="month"><a href="#">July</a></li>
      <li class="month"><a href="#">August</a></li>
      <li class="month"><a href="#">September</a></li>
      <li class="month"><a href="#">October</a></li>
      <li class="month"><a href="#">November</a></li>
    </ul>
  </div>


</div>

<div class="test">
  test
</div>
