<div id="iw-container">
  <div class="iw-title"> <%= link_to event.name, event_path(event) %> </div>
  <div class="iw-content">
    <p><%= event.date %> to <%= event.date_end %></p>
    <p class="city"><%= event.city %></p>
  </div>
</div>
