@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $dark-blue: #062F4F;
 $nav-blue: #1D2731;
 $nav-hover: #09141f;
 $neon-blue: #4CDEF5;

body {
  background-color: #ddd;
  font-family: "Montserrat";
  // color: white;
}

a {
  cursor: pointer!important;
  cursor: hand!important;
}

// scrolly dynamic nav bar
#header-wrap {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 1;
  #header {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 55px;
  }
  ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  li {
    float: left;
    margin: 10px;
    display: inline-block;
  }
  .logo {
    font-size: 25px;
    margin-left: 30px;
  }
  a:hover {
    border-bottom: 2px solid $neon-blue;
    padding-bottom: 12px;
    text-decoration: none
  }
  .search-bar {
    margin: 0 auto;
    float: right;
    font-size: 15px;
    margin-left: 30px;
  }
  .form-control, button {
    height: 25px;
    padding: 2px;
  }
  .right-content {
    float: right;
    margin-right: 20px;
    height: 55px;
    .username {
      color: white;
    }
    .signed-in {
      color: white;
      font-size: 12px;
    }
    a:hover {
      border: 0
    }
  }
  @media only screen and (max-width: 926px) {
    .events, .navbar-form {
      display: none;
    }
  }
}

// home page
.home {
  color: white;
}

// month nav bar
.month-bar {
  background-color: #f0f0f0;
  width: 100%;
  ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  li {
    float: left;
    text-align: center;
    width: 16.6667%;
    box-sizing: border-box;
  }
  a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  @media only screen and (max-width: 926px) {
    a, li, ul, div {
      display: none;
    }
  }
}

// _event_card partial
.event-card {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white; //test
  img {
    width: 100%;
    overflow: hidden;
  }
  .name {
    width:200px;
    height: 40px;
    background-color: #ddd;
    position:absolute;
    top: 50%;
    line-height: 40px;
    padding-left: 10px;
  }
  .card-content {
    padding: 20px;
  }
}

// alerts - needs to be tweaked !
.notice {
  p {
    margin-top: 60px;
  }
}

// google maps info window
.gm-style .gm-style-iw {
   top: 0 !important;
   left: 0 !important;
   width: 100% !important;
   height: 100% !important;
   min-height: 100px !important;
   padding-top: 10px;
   display: block !important;
   font-weight: 400;
   #iw-container {
     margin: 0 auto;
     overflow: auto;
     padding: 15px;
     box-sizing: border-box
   }
   .iw-title {
     margin: 0 0 10px;
     padding: 10px 0;
     text-align: center;
     font-weight: 700;
     font-size: 20px;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
   }
   .iw-content {
     display: block;
     padding-top: 8px;
     text-align: center
   }
   .city {
     font-style: italic
   }
   a:hover, a:focus {
     color: #C09F80;
     text-decoration: none;
   }
 }

 // user profile
 .profile {
   border: 1px black solid;
   height: 500px;
   padding: 0;
   .cover {
     position: relative;
     #cover {
       width: 100%;
       height: auto;
       overflow: hidden;
     }
     #photo {
       width: 20%;
       height: auto;
       border: 5px white solid;
       border-radius: 50%;
       position: absolute;
       left: 50px;
       bottom: -50px;
     }
   }
   .info {
     font-size: 25px;
     color: black;
     .admin {
       font-size: 15px;
     }
     .country {
       font-size: 15px;
       padding-left: 30px;
     }
   }
   .socials {
     img {
       height: 20px;
     }
     a {
       color: black;
     }
     a:hover {
       text-decoration: none;
     }
   }
   @media only screen and (max-width: 500px) {
    //  img {
    //    display: none;
    //  }
   }


 }
