@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $nav-hover: #09141f;
 $neon-blue: #4CDEF5;
 $orange: #f2b935;
 $blue: #1E2636;
 $rust: #a94442;
 $nav: #222222;

 html, body {
  //  min-height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
 }

body {
  background-color: $blue;
  font-family: "Montserrat";
  padding-bottom: 100px;
  position: relative;
  padding-bottom: 100px;
}

a {
  cursor: pointer!important;
  cursor: hand!important;
  color: white
}
a:hover {
  text-decoration: none;
}
.blue {
  color: $blue!important;
}
.red {
  color: $rust!important;
}
.orange {
  color: $orange!important;
}

.twitter-feed {
  margin-top: 10px!important;
  text-align: left!important;
  font-size: 13px;
  .tweet-card {
    background-color: #ddd!important;
    padding: 10px 10px 10px 20px!important;
    margin: 10px!important;
    color: black!important;
    border-radius: 10px!important;
    overflow: hidden;
    height: auto;
    width: 100%;
    .tweet-text {
      float: left;
    }
    .tweet-data {
      overflow:hidden;
      float: right;
      padding: 5px!important;
    }
  }

}

.glyphicon-trash {
  color: $rust!important;
}

// scrolly dynamic nav bar
#header {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: $nav;
    z-index: 100;
    height: 60px;
  ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  li {
    float: left;
    margin: 13px;
    display: inline-block;
  }
  a {
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding: 1px 10px;
  }
  a:hover {
    text-decoration: none;
    color: $orange;
  }
  // .small {
  //   color: $orange;
  //   font-size: 15px;
  //   line-height: 35px;
  // }
  .events {
    padding-right: 20px;
  }
  .right-content {
    float: right;
    margin: 20px;
    .username {
      color: $orange;
    }
    .log-out {
      color: red;
      padding-left: 10px;
      #icon:hover {
        border: none;
      }
    }
    a {
      font-size: 15px;
      line-height: 15px;
      padding: 7px;
    }
  }
  @media only screen and (max-width: 926px) {
    .events, .navbar-form {
      display: none;
    }
  }
}

// devise errors
#error_explanation ul {
  list-style: none;
  color: $rust;
}

.notice, .alert {
  color: $orange;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
}

// home page
div.home-page {
  div.home-banner {
    position: relative;
  }
  video {
    top: -250px;
    width: 100%;
  }
  .arrow {
    transition: opacity 0.5s ease-in!important;
    content: '';
    position: absolute;
    bottom: 15%;
    right: 0;
    left: 0;
    width: 0;
    margin: 0 auto;
    opacity: 0;
  }
  .arrow::before, .arrow::after {
    content: '';
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 30px solid $orange;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin: 0 auto;
    -webkit-animation: bounce 2s ease-in-out infinite;
    animation: bounce 2s ease-in-out infinite;
  }
  .month-bar {
    background-color: #212121;
    width: 100%;
    border-top: 2px $orange solid;
    border-bottom: 2px $orange solid;
    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
    li {
      float: left;
      text-align: center;
      width: 16.6667%;
      box-sizing: border-box;
    }
    a {
      color: white;
      font-weight: 600;
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      margin: 8px 0;
      padding: 10px;
    }
    a:hover {
      text-decoration: none;
      color: $orange;
    }
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
     -webkit-transform: translateY(0);
   }
   50% {
     -webkit-transform: translateY(-30px);
   }
}

@keyframes bounce {
  0%, 100% {
   transform: translateY(0);
   }
   50% {
     transform: translateY(-30px);
   }
}

@media (max-width: 700px) {
  .home-banner {
    display: none
  }
  #index-events, #current-month {
    padding-top: 80px;
  }
}

@media (min-width: 1350px) {
  .arrow {
    opacity: 1!important;
  }
}

// _event_card partial
.event-card {
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
  img {
    width: 100%;
    overflow: hidden;
  }
  .name {
    width: auto;
    height: 40px;
    background-color: #ddd;
    position:absolute;
    top: 50%;
    line-height: 40px;
    padding: 0 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .name:hover {
    background-color: $blue;
    a {
      color: $orange;
    }
  }
  a {
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
  .card-content {
    padding: 20px;
    a:hover {
      color: $rust;
    }
  }
}

// events index (search) page
.event-index {
  margin-top: 50px;
  width: 100%;
  background-color: $blue;
  color: white;
  .sort {
    a {
      color: $orange;
    }
    a:hover {
      color: white;
    }
  }
  .mapped {
    margin: 50px 0 50px 0;
    .search {
      margin-left: 15px;
      .dates {
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        padding: 5px 0;
        margin: 20px 0;
        .end {
          margin-right: 6px;
        }
        select {
          margin: 2px
        }
      }
      .type {
        border-bottom: 1px white solid;
        padding-bottom: 13px;
      }
      .prize {
        border-bottom: 1px white solid;
        padding-top: 10px;
        padding-bottom: 12px;
        input {
          float: right;
          width: 40%;
        }
      }
      .age {
        border-bottom: 1px white solid;
        padding: 8px 0 12px 0;
        margin: 0;
        input {
          float: right;
          width: 40%;
        }
      }
      .checkbox {
        input[type="checkbox"] {
          float: right;
        }
        .col-md-6 {
          padding: 0;
        }
      }
      h4 {
        color: $orange;
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
      }
      label {
        margin: 10px 0;
      }
      input {
        color: black;
        padding: 0 10px;
        border-radius: 10px;
      }
      input[type="submit"] {
        border: none;
        padding: 5px 20px;
        border-radius: 15px;
      }
      input[type="submit"]:hover {
        background-color: $orange;
        color: white;
      }
      select {
        background-color: #ddd;
        color: black;
      }
    }
  }
  .search-result {
    background-color: #ddd;
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    margin: 10px 10px 30px 10px;
    min-height: 220px;
    color: black;
    h3 {
      margin: 0;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 2px solid black;
      font-weight: 600;
    }
    .dates {
      text-align: center;
      font-weight: 600;
    }
    div {
      margin: 10px;
    }
    .favorite {
      float: right;
    }
    .other {

    }
  }
  a {
    color: $rust;
  }
  a:hover {
    text-decoration: none;
    color: $orange;
  }
  #map {
    margin-top: 50px;
    margin-left: 30px;
  }
}

// google maps info window
.gm-style .gm-style-iw {
   top: 0 !important;
   left: 0 !important;
   width: 100% !important;
   height: 100% !important;
   min-height: 100px !important;
   padding-top: 10px;
   display: block !important;
   font-weight: 400;
   color: black;
   #iw-container {
     width: 100%;
     margin: 0 auto;
     overflow: hidden;
     padding: 5px;
     box-sizing: border-box
   }
   .iw-title {
     margin: 0 0 10px;
     padding: 10px 0;
     text-align: center;
     font-weight: 700;
     font-size: 15px;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
   }
   .iw-content {
     display: block;
     padding-top: 8px;
     text-align: center
   }
   .city {
     font-style: italic
   }
   a:hover, a:focus {
     color: #C09F80;
     text-decoration: none;
   }
 }

 // user profile
 .profile {
   margin-top: 80px;
   margin-bottom: 20px;
   overflow: hidden;
   border: 4px $rust solid;
   border-radius: 20px;
   height: 40%;
   background-color: #ddd;
   padding: 0;
   .fav {
     min-height: 100px;
     margin: 10px 0;
     padding: 10px 0 30px 15px;
     width: 80%;
     li {
       padding-left: 20px;
     }
   }
   .row {
    margin-top: 10px;
    margin-bottom: 10px;
   }
   .cover {
     position: relative;
     #cover {
       width: 100%;
       height: auto;
       overflow: hidden;
       background-color: white;
     }
     #photo {
       background-color: #ddd;
       width: 20%;
       height: auto;
       border: 5px white solid;
       border-radius: 50%;
       position: absolute;
       left: 50px;
       bottom: -50px;
     }
     form, input {
       position: absolute;
       bottom: -5px;
       right: 20px;
       padding: 5px 10px 5px 10px;
     }
     input[type="submit"] {
       border: none;
       padding: 5px 15px;
       border-radius: 20px;
       background-color: white;
     }
     input[type="submit"]:hover {
       color: white;
       background-color: $orange;
     }
   }
   .left-info {
     margin: 30px 0 0 30px;
     .country {
       color: $rust;
     }
   }
   .info {
     font-size: 30px;
     color: black;
     .admin {
       font-size: 15px;
     }
   }
   .socials {
     padding: 20px 0;
   }
   a {
     color: $rust;
   }
   a:hover {
     color: $orange;
     text-decoration: none;
   }
 }

 .parenthesis {
   font-size: 12px;
   padding-left: 5px;
   color: $orange;
 }

// edit/create profile page
 .profile-form {
   position: relative;
   padding-top: 70px;
   color: #fff;
   text-align: center;
   z-index: 15;
   width: 100%;
   text-align: left;
   color: white;
   min-height: 100%;
   input, select {
     width: 100%
   }
   .field {
     margin: 15px 2px 15px 2px;
   }
   .actions input {
     text-align: center;
   }

   h2 {
     color: $orange;
     font-weight: 600;
     padding-bottom: 8px;
     text-align: center;
   }
   input, select {
     padding-left: 10px;
     color: black;
     width: 100%;
     margin: 20px 0 0 0;
     border-radius: 20px;
   }
   input[type="submit"] {
     border: none;
     padding: 5px 10px;
     color: white;
     background-color: grey;
   }
   input[type="submit"]:hover {
     background-color: $orange;
     color: #000;
   }
   .cancel {
     text-align: center;
     margin-top: 40px;
     margin-bottom: 40px;
     a {
       color: $rust;
     }
   }
 }

 // event show page
.event-show {
  margin: 130px 0;
  text-align: center;
  color: white;
  .back a {
    margin-top: 10px;
  }
  .banner {
    width: 100%;
    position: relative;
    h1 {
      position: absolute;
      text-align: center;
      left: 20px;
      bottom: 0;
      color: #fff;
      font-weight: 800;
      font-size: 50px;
      text-shadow: 2px 3px 2px #000;
    }
  }
  .admin p {
    padding-top: 20px;
    color: $orange;
    margin: 0 auto;
  }
  h3 {
    font-weight: 700;
    text-align: left;
    color: #fff;
  }
  .left {
    a {
      color: $orange
    }
    a:hover {
      color: $rust
    }
    .widget {
      text-align: right;
    }
  }
  .team-list {
    margin-left: 20px;
    .card {
      margin: 20px 0;
      color: black;
      background-color: #ddd;
      border: 3px solid $orange;
      border-radius: 20px;
      a {
        color: $rust;
      }
      a:hover {
        color: $orange;
      }
      .logo {
        width: 100%;
        padding: 10px;
      }
      .team-info {
        padding: 10px;
        text-align: left;
        p {
          margin: 3px;
        }
        h4 {
          text-align: center;
          margin: 0 0 10px 0;
          font-weight: 700;
          .favorite {
            font-size: 15px;
            float: right;
          }
        }
      }
      .right {
        text-align: left;
        font-size: 15px;
        padding: 20px;
        ul {
          padding: 0
        }
        .admin p {
          text-align: right;
          color: black;
          margin: 10px;
          a {
          }
        }
      }
    }
  }
  @media only screen and (max-width: 926px) {
    .banner img {
      display: none;
    }
    .banner {
      margin-top: 120px;
    }
  }
}

// events index page for admins
.event-admin {
  color: #fff;
  margin: 100px 0;
  text-align: center;
  a {
    color: $orange;
    padding: 0 10px;
  }
  a:hover {
    color: #fff;
  }
  p {
    margin: 10px;
    padding: 10px 0;
  }
}

.edit-event, .new-event {
  margin: 100px 0;
  text-align: center;
  color: #fff;
  h1 {
    color: $orange;
    font-weight: 800;
  }
  .teams {
    margin-top: 20px;
    text-align: center;
    h4 {
      text-decoration: underline
    }
  }
  a {
    color: $orange;
    text-decoration: none
  }
}

 // event partial form
.event-form {
  color: white;
  text-align: left;
  p {
    margin: 0px;
  }
  input, select {
    color: black;
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 15px;
    padding: 5px 10px;
  }
  input[type="submit"]:hover {
    background-color: $orange;
    color: #000;
  }
  #booleans {
    input[type="submit"] {
    width: 50%;
    margin-top: 30px;
    }
    input {
      display: inline-block;
      width: 20%;
    }
  }
}

// edit team
.edit-team, .new-team {
  margin: 100px 0;
  h1 {
    color: $orange;
    text-align: center;
    margin-top: 80px;
  }
  .players {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    h4 {
      text-decoration: underline
    }
  }
  a {
    color: $orange;
    text-decoration: none
  }
}

// team form
.team-form {
  input {
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 15px;
    padding: 5px 10px;
  }
  p {
    margin: 0;
    color: white;
  }
  .submit {
    margin: 0 auto;
    width: 30%;
    input {
      width: 100%;
    }
  }
}

// team show page
.team-show {
  margin-top: 100px;
  margin-bottom: 40px;
  color: white;
  .socials {
    text-align: center;
    span {
      color: #fff;
    }
  }
  .team-left-info {
    margin-top: 30px;
    padding: 10px 10px 50px 10px;
    .info {
      padding: 4px;
      float: left;
    }
    .image {
      width: 100%;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.9);
      border-radius: 50%;
      padding: 15px;
      img {
        width: 100%;
        margin: 0 auto;
      }
    }
    h2 {
      font-weight: 800;
      text-align: center;
    }
    .admin {
      margin-left: 8px;
      float: right;
      p {
        margin: 0;
      }
      i {
        padding: 6px;
      }
    }
  }
  .timeline h4 {
    text-align: center;
  }
  .player-list {
    margin-top: 20px;
  }
  .card {
    border: 2px solid $orange;
    border-radius: 15px;
    padding: 0;
    margin: 2px;
    overflow: hidden;
    background-color: #ddd;
    color: black;
    .card-info {
      padding: 10px 0 0 10px;
      font-size: 13px;
      .name {
        font-size: 15px;
      }
      .role {
        margin-top: 10px;
      }
      .socials {
        text-align: left;
        span {
          color: #000;
        }
        a {
          color: $rust;
        }
        a:hover {
          color: $orange;
        }
      }
    }
    .favorite, .admin {
      float: right;
      padding: 10px;
    }
    .image {
      position: relative;
      color: $blue;
      img {
        width: 100%
      }
    }
    h4 {
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 700;
      background-color: $orange;
      padding: 5px;
      border-top-left-radius: 25px;
      width: 60%;
      text-align: center;
    }
  }
  a {
    color: $orange;
  }
  a:hover {
    text-decoration: none;
    color: $rust;
  }
  @media only screen and (max-width: 991px) {
  }
}

.sign-in {
  background-color: black;
  margin-top: 60px;
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .video {
    display: block;
    video {
      min-height: 80vh;
    }
  }
  .form {
    position: absolute;
    text-align: center;
    z-index: 15;
    h2 {
      color: $orange;
      font-weight: 600;
      margin-top: 20px;
      padding-bottom: 8px;
      // border-bottom: 2px white solid;
    }
    .first {
      margin-top: 30px;
    }
    input {
      background-color: white;
      color: black;
      margin: 5px 0px 15px 0;
      border-radius: 20px;
      padding-left: 10px;
    }
    input[type="submit"] {
      border: none;
      padding: 5px 15px;
      color: white;
      background-color: grey;
    }
    input[type="submit"]:hover {
      background-color: $orange;
      color: #000;
    }
  }
}

.sign-up {
  background-color: black;
  padding-top: 80px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  .video {
    video {
      min-height: 80vh;
    }
  }
  .form {
    position: absolute;
    text-align: center;
    z-index: 15;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-align: left;
    h2 {
      color: $orange;
      font-weight: 600;
      padding-bottom: 8px;
      text-align: center;
    }
    input, select {
      padding-left: 10px;
      color: black;
      width: 100%;
      margin: 20px 0 0 0;
      border-radius: 20px;
    }
    input[type="submit"] {
      border: none;
      padding: 5px 10px;
      color: white;
      background-color: grey;
    }
    input[type="submit"]:hover {
      background-color: $orange;
      color: #000;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: $nav;
  color: white;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// new team player and event team
.add-team-player, .add-event-team {
  text-align: center;
  margin: 100px 0;
  color: white;
  select, input {
    margin-top: 20px;
    color: black;
    border-radius: 15px;
  }
  input[type="submit"]:hover {
    background-color: $orange;
    color: #000;
  }
}

// players index
.players-index {
  color: #fff;
  margin: 100px 0;
  text-align: center;
  a {
    color: $orange;
    padding: 0 10px;
  }
  a:hover {
    color: #fff;
  }
  p {
    margin: 10px;
    padding: 10px 0;
  }
}

// player show
.player-show{
  color: white;
  text-align: center;
  h1 {
    color: $rust;
    margin-top: 80px;
  }
  a {
    display: inline-block;
    color: $orange;
  }
}

// edit player & new player
.edit-player, .new-player {
  text-align: center;
  margin: 100px 0;
  color: white;
  h1 {
    color: $orange;
  }
  select, input {
    margin-top: 20px;
    color: black;
    border-radius: 15px;
  }
  input[type="submit"]:hover {
    background-color: $orange;
    color: #000;
  }
}

.player-form {
  text-align: left;
  input {
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 15px;
    padding: 5px 10px;
  }
  p {
    margin: 0;
    color: white;
  }
  .submit {
    margin: 0 auto;
    width: 30%;
    input {
      width: 100%;
    }
  }
}

// teams index
.team-index {
  color: #fff;
  margin: 100px 0;
  text-align: center;
  a {
    color: $orange;
    padding: 0 10px;
  }
  a:hover {
    color: #fff;
  }
  p {
    margin: 10px;
    padding: 10px 0;
  }
}
