@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


.test {
  border: 1px black solid
}

<div id="iw-container">
  <div class="title"> <%= link_to event.name, event_path(event) %> </div>
  <div class="content">
    <p> <%= event.date %> to <%= event.date_end %> </p>
    <p> <%= event.city %> </p>
  </div>
</div>

#iw-container {
  margin-bottom: 10px;
  .title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #F7CE3E;
    color: black;
    margin: 0;
    border-radius: 2px 2px 0 0
  }
  .content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
