
<footer>
  <div class="footer">
    <ul class="list-style:none">
      <li><a href="https://github.com/janeosaur/"> Git Hub </a> </li>
      <li class="pull-right">© all rights reserved</li>
    </ul>
  </div>
</footer>
